body
{
 background-image: url (https://friendofthesea.org/public/news/blue-ocean-28668-2560x1600.jpg);
}
  
  h1 
{ 
  text-align: center; 
}


  p
{
  text-align:center;
}

img
{
 min width: 30px;
 mid height 30px;
 max width 40px;
 max height 40px;
}
